<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title><%= @page_title || 'alonetone, a damn fine home for musicians' %></title>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

	<%= csrf_meta_tag %>

	<%#= yield :css %>
	<!-- #<link rel="alternate" type="application/rss+xml" title="Latest uploaded mp3s on alonetone" href="/latest.rss"/>
	#<link rel="alternate" type="application/rss+xml" title="alonetone news" href="/blog.rss"/> -->

	<% if Alonetone.typekit %>
	<script type="text/javascript" src="http://use.typekit.com/<%= Alonetone.typekit %>.js"></script>
	<script type="text/javascript">
		try {
			Typekit.load();
		} catch(e) {
		}
	</script>
	<% end %>

	<!-- render user specific variables and js helpers -->
	<%= render :partial => 'shared/javascript_payload' %>
</head>

<body class="bg-info dker">
  <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xl">
      <a class="navbar-brand block" href="/"><span class="h1 font-bold">Musik</span></a>
		<% if @sudo %>
		<div class="sudo_bar">
			Sudo'd as <%= current_user.name %>. <%= link_to 'Return to admin.', sudo_user_path(@sudo) %></span>
		</div>
		<% end %>
 <section class="m-b-lg">
 	<div class="row" style="text-align:center;">
										<%= check_for_and_display_welcome_back %>
										<%= check_for_and_display_flashes %>
									 </div>
	<%= yield :main %>
										
	</section>
	</div>
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>For All Users  <br>&copy; 2015</small>
      </p>
    </div>
  </footer>
  <!-- / footer -->
	<%= javascript_include_tag "application" %>
	<%= render :partial => 'shared/analytics' %>
</body>
</html>